.btn {
    background-color: #ef3c40;
    border-color: #ef3c40;
    color: white;
}
.btn:hover {
    background-color: darkred;
    border-color: indianred;
    color: white;
}
nav {
    margin-bottom: 30px;
    background-color: #ef3c40;
    color: white;
}
#brand {
    color: white;
    font-weight: bold;
}
h3 {
    text-align: center;
}
.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: white;
}
.active {
    font-weight: bold;
}
.navbar-toggler {
    background-color: white !important;
}
.hide {
    display: none !important;
}
.grey {
    border-color: lightgray !important;
}