.btn {
    background-color: #ef3c40;
    border-color: #ef3c40;
    color: white;
}
.btn:hover {
    background-color: darkred;
    border-color: indianred;
    color: white;
}
nav {
    background-color: #ef3c40;
    color: white;
}
#brand {
    color: white;
    font-weight: bold;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: white;
}
.active {
    font-weight: bold;
}
