.btn {
    background-color: #ef3c40;
    border-color: #ef3c40;
    color: white;
}
.btn:hover {
    background-color: darkred;
    border-color: indianred;
    color: white;
}
nav {
    background-color: #ef3c40;
    color: white;
}
#brand {
    color: white;
    font-weight: bold;
}
.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: white;
}
.active {
    font-weight: bold;
}
.navbar-toggler {
    background-color: white !important;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 72px;
    justify-items: center;
}
.grid-item {
    text-align: center;
    border: 2px lightgray solid;
    border-radius: 10px;
    margin-bottom: 30px;
}