<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="../images/tabIcon.png">
        <link rel="stylesheet" href="../index.css">
        
        <title>Still57 Games</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" id="brand">Still57</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active">Games<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../contactUs">Contact Us<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron text-center">
            <h1 class="display-4">Hello Gamers!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>
        
        <div class="grid-container container">
            <div class="card grid-item" style="width: 18rem;">
                  <div class="title" class="row">
                      <div class="col-2">
                          <img class="icon" src="../images/minesweeperIcon.png">
                      </div>
                      <div class="col-10">
                          <h5 class="card-title">Minesweeper Classic: Retro</h5>
                      </div>
                </div>
                <div id="minesweeper_indicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#minesweeper_indicators" data-slide-to="0" class="active"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="1"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="2"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../images/minesweeperImage1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage4.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#minesweeper_indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#minesweeper_indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Play Minesweeper with its all retro classic graphics! Customize your game with tons of settings and make the game your own. Earn coins and unlock gorgeous themes. Get lost in the world of classic minesweeper!</p>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <img id="app_store" src="../images/appStoreBtn.png">
                        </div>
                        <div class="col">
                            <img id="google_play" src="../images/googlePlayBtn.png">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card grid-item" style="width: 18rem;">
                <h5 class="card-title">Minesweeper Classic: Retro</h5>
                <div id="minesweeper_indicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#minesweeper_indicators" data-slide-to="0" class="active"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="1"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="2"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../images/minesweeperImage1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage4.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#minesweeper_indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#minesweeper_indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Play Minesweeper with its all retro classic graphics! Customize your game with tons of settings and make the game your own. Earn coins and unlock gorgeous themes. Get lost in the world of classic minesweeper!</p>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <img id="app_store" src="../images/appStoreBtn.png">
                        </div>
                        <div class="col">
                            <img id="google_play" src="../images/googlePlayBtn.png">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card grid-item" style="width: 18rem;">
                <h5 class="card-title">Minesweeper Classic: Retro</h5>
                <div id="minesweeper_indicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#minesweeper_indicators" data-slide-to="0" class="active"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="1"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="2"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../images/minesweeperImage1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage4.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#minesweeper_indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#minesweeper_indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Play Minesweeper with its all retro classic graphics! Customize your game with tons of settings and make the game your own. Earn coins and unlock gorgeous themes. Get lost in the world of classic minesweeper!</p>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <img id="app_store" src="../images/appStoreBtn.png">
                        </div>
                        <div class="col">
                            <img id="google_play" src="../images/googlePlayBtn.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>  
      
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../index.js"></script>
    </body>
</html>